<%- include('header') %>

    <div class="home-page d-flex align-items-center jutify-content-center">
        <div class="home-inner">
            <h1>Welcome</h1>
            <h5>
                <%= locals.user ? user : "user" %>
            </h5>
            <button class="btn btn-danger">
                <a href="/route/logout">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
            </button>
        </div>
    </div>
    
    <%- include('footer') %>