<div class="social d-flex justify-content-center gap-5">
    <a href=""><i class="fa-brands fa-instagram "></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
    <a href=""><i class="fa-brands fa-github"></i></a>
    <a href=""><i class="fa-brands fa-facebook"></i></a>
</div>
</body>
</html>